[submodule "vendor/M5CardputerZero-Launcher"]
	path = vendor/M5CardputerZero-Launcher
	url = https://github.com/CardputerZero/M5CardputerZero-Launcher.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
